.side-bar {
  border: 3px solid gray;
  display: inline-block;
  float: left;
  margin: 0 auto;
  width: 20%;
}
.main {
  border: 3px solid gray;
  display: inline-block;
  float: right;
  margin: 0 auto;
  width: 79%;
}
h3 {
  border: 1px solid orange;
  color: black;
}
